*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.apks
*.aab
.kotlin

*.mp4
frames/

# App configuration (hidden from VCS)
/app/src/main/java/com/example/locallm/AppConfig.kt
